@import 'https://cdnjs.cloudflare.com/ajax/libs/framework7/5.7.10/css/framework7.bundle.css';
@import 'https://cdnjs.cloudflare.com/ajax/libs/material-design-icons/3.0.1/iconfont/material-icons.min.css';

@font-face {
    font-family: 'Framework7 Icons';
    font-style: normal;
    font-weight: 400;
    src: local('Framework7 Icons'), local('Framework7Icons-Regular'),
    url('./fonts/Framework7Icons-Regular.woff2') format('woff2'), url('./fonts/Framework7Icons-Regular.woff')
    format('woff'), url('./fonts/Framework7Icons-Regular.ttf') format('truetype');
}

.strikethrough {
    text-decoration: line-through !important;
}

nav {
    background: #fff;
}

.card {
    display: inline-block;
}

.card img {
    width: 300px;
}

.card p.segmented {
    margin: 0;
}

.f7-icons,
.framework7-icons {
    font-family: 'Framework7 Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 28px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-feature-settings: 'liga';
    -moz-font-feature-settings: 'liga=1';
    -moz-font-feature-settings: 'liga';
    font-feature-settings: 'liga';
}

.navbar .title{
    line-height: 2em;
}

#magic button{
    background-color: blue;
}

#loginSignin{
    width: 12em;
}

#logout{
    width: 7em;
}

#map-here{
    height: 75vh;
    margin-top: .5em;
}

#closeSave{
    margin: 0;
    width: 12em;
}

#theNote{
    width:100%;
    height:100%;
}

#tab2{
    min-height:75vh;
}
